Body{
    background-color: black;
    color: whitesmoke;

    font-family:"Bungee",sans-serif;
    margin:0px;
}
header{
    font-size: 30px:
    border-bottom: solid 2px rgb 255, 255, 255;
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255)
    
}